.post{
    width: 100%;
    background-color: white;
    box-shadow: .5px .5px 10px grey;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
}
.post h5{
    font-size: 20px;
    margin: 10px auto;
}
.post img{
    margin: 10px auto;
}
.postOptions{
    border-top: 1px solid grey;
    border-bottom: 1px solid gray;
    padding: 2px;
}
.postOptions i{
    cursor: pointer;
    width: 40%;
    font-size: 20px;
    padding: 10px;
    text-align: center;
}