.post{
    width: 100%;
    background-color: white;
    box-shadow: .5px .5px 10px grey;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
}
.post h5{
    font-size: 20px;
    margin: 10px auto;
}
.post img{
    margin: 10px auto;
}
.postOptions{
    border-top: 1px solid grey;
    border-bottom: 1px solid gray;
    padding: 2px;
}
.postOptions i{
    cursor: pointer;
    width: 40%;
    font-size: 20px;
    padding: 10px;
    text-align: center;
}
.caption{
    padding: 0px 10px ;
}
.postHeader{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
}
.avatarContainer{
    width: 50px;
    height: 50px;
}
.postHeader h5{
    margin-left: 10px;
}
.usernameContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.usernameContainer{
    color: red;
    font-size: 18px;
    cursor: pointer;
}