.rowContainer {
  padding: 10px;
}
.rowContainer h1 {
  color: white;
  text-transform: uppercase;
  font-size: 24px;
  margin-left: 30px;
}
.row::-webkit-scrollbar {
  display: none;
}
.row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 40px;
  overflow-x: scroll;
}
