.header{
    background-color: #26ae60;
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    justify-content: space-between;
    color: white;
}
.siteName h1{
    font-size: 24px;
    font-weight: 650;
    text-transform: uppercase;
}
.siteName i{
    font-size: 28px;
}
.headerOptions{
    text-transform: capitalize;
}
.headerOptions a{
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-size: 18px;
}
.headerOptions a:hover{
    text-decoration: underline;
}