.alertContainer{
    max-width: 200px;
    margin: auto;
    padding: 10px;
    color: red;
    max-height: 50px;
    border: 2px solid red;
    transition: top 250ms linear;
    background-color: rgb(255, 207, 207);
    position: absolute;
    animation: drop 250ms linear both;
    right: 20%;
}

@keyframes drop{
    0%{
        top: -10%;
    }100%{
        top: 10%;
    }
}
