.searchContainer{
    width: 80%;
    padding: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;  
    flex-direction: column;  
}
input{
    width: 80%;
    padding: 10px;
    font-size: 16px;
    margin: 10px;
}
input:focus{
    outline: 2px solid #25CCF7;
}
button{
    width: 80%;
    text-align: center;
    margin: 5px auto;
    padding: 10px;
    font-size: 16px;
    text-transform: capitalize;
    background-color: rgb(39, 39, 39);
    color: white;
    border: none;
    cursor: pointer;
}
button:hover{
    background-color: black;
}