.commentContainer{
    width: fit-content;
    padding: 5px 15px;
    margin-left: 20px;
    border-radius: 10px;
    margin-top: 20px;
    background-color: rgb(224, 224, 224);
}
.userName{
    font-weight: 550;
}