.projectsWrapper{
    /* display: flex;
    align-items: flex-start;
    justify-content: flex-start; */
    width: 100%;
    padding: 10px;
    overflow-y: scroll;
}
.projects{
    width: 100%;
    padding: 10px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(19, 19, 19);
    /* overflow-y: scroll; */
}


@media screen and (max-width: 800px){
    .projectsWrapper{
        height: 92vh;
    }
    .projects{
       flex-direction: column;
       flex-wrap: nowrap;
       min-height: 92vh;
    }
}